.modal-container {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    overflow: auto;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);

}

.modal-image {
    padding-top: 1rem;
    margin: auto;
    display: block;
    width: 600px;
    height: 450px;
    border-radius: 10px;
    object-fit: contain;
}

.close {
    position: absolute;
    top: 5px;
    right: 15px;
    color: black;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}